.App {
  display: flex;
}

.addButton {
  margin: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.lane {
  border: 1px solid black;
  border-radius: 4px;
  min-width: 350px;
  margin: 15px;
  background-color: rgb(255, 255, 255);
  min-height: 400px;
}

.ticket {
  background-color: rgb(84, 84, 84);
  color: white;
  margin: 5px;
  padding: 10px 5px;
  border-radius: 5px;
}
.ticket:hover {
  cursor: grab;
}

.ticket:drag .title {
  text-align: center;
  font-weight: 800;
  color: rgb(73, 73, 73);
}
