.App {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.lane {
  border: 1px solid black;
  border-radius: 4px;
  min-width: 350px;
  margin: 15px;
  background-color: rgb(255, 255, 255);
}

.ticket {
  background-color: rgb(84, 84, 84);
  color: white;
  margin: 5px;
  padding: 10px 5px;
  border-radius: 5px;
}

.title {
  text-align: center;
  font-weight: 800;
  color: rgb(73, 73, 73);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
